{% extends "tweet/base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}


    <div class="container">
        {% block description %}

        {% endblock %}
        {% if user.is_authenticated %}
            <form method="post"><!-- form to add tweet -->
                {% csrf_token %}
                <label>You would write a tweet: </label>
                <div id="div_id_content" class="form-group">
                     <textarea name="content" cols="15" rows="5" maxlength="285"
                               class="textarea form-control"
                               required id="id_content"></textarea>

                </div>

                <input type="submit" value="Publish">
            </form>

        {% endif %}
        {% if all_tweets %}<!-- list of all tweets -->
            <div class="row">
                <div class="col">
                    {% for tweet in all_tweets %}
                        <article class="media content-section border rounded mt-2 tweetlist">
                            <div class="mr-2">{% cloudinary tweet.user.profileuser.image_from_cl %}</div>
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="mr-2"
                                       href="{% url "users-tweet" username=tweet.user pk=tweet.user.id %}">{{ tweet.user }}</a>
                                    <small class="text-muted">{{ tweet.created|date:'d, F Y, H:i' }}</small>
                                </div>
                                <p class="article-content"
                                   style="max-width: 700px; word-wrap: break-word">{{ tweet.content }}</p>
                            </div>
                            <div class="text-right">
                                <a id="tweetdetial" class="btn btn-secondary d-none "
                                   href="{% url 'detail-tweet' username=tweet.user pk=tweet.id %}">Detail</a>
                            </div>
                        </article>
                        <div class="col">Comments:{{ tweet.comments_set.count }}</div>

                    {% endfor %}
                    {% else %}
                    <h1 class="text-center"> Be First Adding the Message</h1>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
