{% extends "tweet/base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}
{% block content %}
    <div class="container">
    <article class="media content-section border rounded ">
             <div class="mr-2">{% cloudinary mess.from_user.profileuser.image_from_cl %}</div>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2"
                   href="{% url "users-tweet" username=mess.from_user.username pk=mess.from_user.id %}">{{ mess.from_user }}</a>
                <small class="text-muted">{{ mess.send_time|date:'d, F Y' }}</small>
            </div>
            <p class="article-content"
               style="max-width: 700px; word-wrap: break-word">{{ mess.message }}</p>
        </div>
    </article>
{% endblock content %}


