{% extends "tweet/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container">
        <article class="media content-section border rounded tweetlist">
            <img class="rounded-circle article-img" src="{{ object.user.profileuser.image.url }}"
                 alt="image">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"
                       href="{% url "users-tweet" username=tweet.user %}">{{ tweet.user }}</a>
                    <small class="text-muted">{{ tweet.created|date:'d, F Y' }}</small>
                </div>
                <p class="article-content d-inline-block"
                   style="max-width: 700px; word-wrap: break-word">{{ tweet.content }}</p>
            </div>
            <div class="col text-right">
                <a class="btn btn-secondary" href="{% url 'update-tweet' pk=object.id %}">Update</a>
                <a class="btn btn-secondary" href="{% url 'delete-tweet' pk=object.id %}">Delete</a>
            </div>

        </article>

    </div>

{% endblock content %}


