body {
    /*background-color: chocolate;*/
}
/*css for popupwidnow to add tweet*/
.bg-modal {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
    z-index: 1;
}

.modal-contents {

	width: 500px;
	background-color: white;

	padding: 20px;
	position: relative;
	border-radius: 4px;
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}
